@import "antd/dist/reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
  }
  img,
  video {
    max-width: 100%;
    height: auto;
  }
  html,
  body,
  div,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  img,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section,
  summary,
  time,
  audio,
  video {
    margin: 0;
    padding: 0;
    font-size: 100%;
  }
  a {
    text-decoration: none;
  }

  /* Scroll bar */

  /* width */
  ::-webkit-scrollbar {
    @apply h-1 w-1;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-text;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-light;
  }
}

.bottomSliderList .slick-track {
  display: flex;
  flex-direction: row;
}

.bottomSliderList .slick-track .slick-slide {
  padding: 0 8px;
}

@media screen and (max-width: 768px) {
  .bottomSliderList .slick-track .slick-slide {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .bottomSliderList .slick-track .slick-slide {
    padding: 0 2px;
  }
}

.slick-dots {
  bottom: 4px !important;
}

.slick-dots li button::before {
  color: white !important;
  opacity: initial !important;
  font-size: 8px !important;
}

.slick-dots {
  text-align: center !important;
}
.slick-dots li {
  display: none !important;
  margin: 0 5px !important;
}
.slick-dots li.slick-active,
.slick-dots li.slick-active + li,
.slick-dots li.slick-active + li + li {
  display: inline-block !important;
}

.slick-dots li:nth-last-child(1),
.slick-dots li:nth-last-child(2),
.slick-dots li:nth-last-child(3) {
  display: inline-block !important;
}

.slick-dots li.slick-active ~ li:nth-last-child(1),
.slick-dots li.slick-active ~ li:nth-last-child(2),
.slick-dots li.slick-active ~ li:nth-last-child(3) {
  display: none !important;
}
.slick-dots li.slick-active + li + li:nth-last-child(3),
.slick-dots li.slick-active + li + li:nth-last-child(2),
.slick-dots li.slick-active + li + li:nth-last-child(1),
.slick-dots li.slick-active + li:nth-last-child(3),
.slick-dots li.slick-active + li:nth-last-child(2),
.slick-dots li.slick-active + li:nth-last-child(1) {
  display: inline-block !important;
}
